install
cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw vagrant
firewall --disabled
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart --type=lvm
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
auth --passalgo=sha512 --useshadow
reboot
user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel

%packages --ignoremissing --excludedocs
@Base
openssh-server
open-vm-tools
sudo

%end

%post

# add vargant user with no passwd
action "Adding commisioning" useradd -c "Remote Vagrant User" vagrant
passwd -d vagrant > /dev/null
usermod -aG wheel vagrant > /dev/null
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant

yum install -y openssh-server open-vm-tools sudo

yum clean all
%end
